DB_HOST=example_db_host
DB_PORT=5432
DB_NAME=example_db_name
DB_USERNAME=example_db_username
DB_PASSWORD=example_db_password

S3_ENDPOINT=s3_inner_url
S3_PUBLIC_URL=s3_public_url
S3_USERNAME=example-s3-username
S3_PASSWORD=example-s3-password
S3_BUCKETNAME=shop-files

RABBIT_MQ_HOST=example_host
RABBIT_MQ_USERNAME=example-rabbit-username
RABBIT_MQ_PASSWORD=example-rabbit-password
RABBIT_MQ_VHOST=/

MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=mail_username
MAIL_PASSWORD=mail_password
MAIL_SMTP_AUTH=false
MAIL_SMTP_STARTTLS=false

CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001

JWT_SECRET_KEY=example-jwt-secret-key-at-least-32-bytes-long
JWT_ACCESS_TIME=900000
JWT_REFRESH_TIME=2592000000

LOG_LEVEL_SQL_BIND=INFO
LOG_LEVEL_APP=DEBUG

SWAGGER_ENABLED=true

PGADMIN_EMAIL=admin@shop.local
PGADMIN_PASSWORD=example-pgadmin-password
